header{
    text-decoration: none;
}

body{

}

h1 {
    font-family: "Josefin Sans", sans-serif; 
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    color: #3A400C;
    text-decoration: none;
}
h2{
    font-family: "lato", Sans Serif;
    font-size: 22.5px;
}
h3{
    font-family: "Josefin Sans", Sans Serif;
    font-size: 18px;
}
p{
    font-family: "Lato", Sans Serif;
    font-size:15px ;
}
nav{
font-family:"Josefin Sans", sans-serif;
font-size: 16px;
color:#047F8C;
}
a{
    text-decoration: none;
}