/* the * indicates universal styles, we will get into that later in the semester
for now, you can leave these alone */

*{
    margin: 15px;
}
body {
    font-family: "novantique-serif-display", sans-serif
    color: #26241C;
    background-color: #000000;
}
body{
    color: #a7aca9;
    font-size: 20px;
}
h1 {font-family: "green-fairy-full-combo", sans-serif;
    text-align: right;
    font-size: 60px;
    font-style: oblique;
    border: dotted #a7aca9;
    padding: 25px;
}
h2 {
    font-family: "green-fairy-full-combo", sans-serif;
    text-align: right;
    font-size: 32px;
    border: solid #a7aca9;
    background-color: #494d4bb3;
    padding: 5px;
}
h3 {
    font-family: "green-fairy-full-combo", sans-serif;
    text-align: right;
    font-size: 25px;
    background-color: #494d4bb3;
    padding: 5px;
}
h4 {
    font-family:"novantique-serif-display", sans-serif ;
    font-size: 18px;
    font-variant: small-caps;
    background-color: #494d4b5d;
    border: dotted #a7aca9;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
p {text-indent: 12px;
font-size: 20px;
display: inline-block;
}
img {
    width:100% ;
    border: solid #a7aca9;
    padding: 10px;
    align-self: center;
}
nav {
    font-family: "novantique-serif-display", sans-serif;
    text-align: left;
    border:solid #74767b84;
    font-size: 20px;
    background-color: #494d4bb3;
}

a {
    text-decoration: none;
    color: #a7aca9;
    padding: 0px 85px;
}
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 2px;
}
#imageright{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}
#textleft{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 50%;
}
